<%- include('./partials/header.ejs') %>
<div class="w-full h-screen ">
    <%- include('./partials/Navbar.ejs') %>
    <div class="flex flex-col p-10 justify-center  content-center w-full ">
    <div class="flex flex-col justify-center items-center ">
        <img class=" w-[170px] h-[170px] bg-gray-400 rounded-full" src="" alt="">
        <p class="text-3xl font-bold mt-3 ">Hello <span><%= username %> !!</span></p>  
        <p><%= email %></p>  
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="myFile" class="mt-5" required>
            <button class="bg-green-600 mt-5 text-zinc-200 px-4 py-2  rounded-md " type="submit">Add Pin</button>
        </form>
    </div>
    <div class="mt-10 grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 gap-4">
        <% LoggedUser.boards.map(board => { %>
            <div>
                <div class=" w-full h-60 rounded-xl overflow-hidden">
                    <img src="/<%= board.imagePath %>" alt="<%= board.title %>" class="w-full h-full object-cover">
                </div>
                <% const filePath = board.imagePath %>
                <% const updatedPath = filePath.replace("uploads", '') %>
                <%  console.log(filePath, "the old path") %>
                <%  console.log(updatedPath , "the new path" ) %>
                <form action="/delete/<%= filePath %>" method="post">
                    <button class="text-red-500">
                        Delete
                    </button>
                </form>
                
            </div>
                
            
        <% }) %>
    </div>
    
    
    
    </div>
</div>
<%- include('./partials/footer.ejs') %>




